.App {
  font-family: sans-serif;
  text-align: center;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.viewButton,
.cancel {
  text-decoration: none;
  font-family: sans-serif;
  padding: 0.4em;
  border: 1px gray solid;
  background-color: lightgray;
  border-radius: 0.6em;
  color: black;
  font-size: 0.8em;
  margin-left: 0.4em;
}

.viewButton:hover {
  color: white;
  background-color: black;
}

.cancel {
  border: 1px red solid;
  background-color: lightpink;
}

.cancel:hover {
  background-color: red;
  color: white;
}

.TwoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-right: 1px dotted gray;
  margin-bottom: 4em;
}
